* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --card-color-primary: #F7DD43;
  --card-title-border-color: #746615;
  --card-bg-color: #1D1C19;
}

body.blue {
  --card-color-primary: #338AF3;
  --card-title-border-color: #338AF3;
  --card-bg-color: #202024;
}

body.green {
  --card-color-primary: #047C3F;
  --card-title-border-color: #047C3F;
  --card-bg-color: #1A1F1B;
}

body {
  min-height: 100vh;
  scrollbar-width: thin;
  background-image: linear-gradient(to bottom, var(--card-bg-color), 80%, var(--card-color-primary));
}

body * {
  font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
  background-color: var(--card-bg-color);
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--card-color-primary);
  border-radius: 10px;
}

#winOrLose {
  width: 20px;
  height: 20px;
}

.centerCrown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winColor {
  border: 3px solid var(--card-color-primary);
  padding: 2px;
  border-radius: 50%;        
}

#image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  transition: transform .2s;
}

#app {
  width: fit-content;
  margin: auto;
  padding: 50px 15px 20px 15px;
}

header {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.centerButton {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-bottom: 10px;
  gap: 10px;
}

.centerButton button {
  padding: 8px 16px;
  cursor: pointer;

  background: transparent;
  border-radius: 4px;

  color: var(--card-color-primary);
  border: 1px solid var(--card-title-border-color);
}

.centerButton button:hover {
  background: var(--card-bg-color);
}

#buttons {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  justify-content: space-between;
}

.buttonCard {
  padding: 8px 16px;
  cursor: pointer;

  background: transparent;
  border-radius: 4px;

  color: var(--card-color-primary);
  border: 1px solid var(--card-title-border-color);
}

.buttonCard:hover {
  background: var(--card-bg-color);
}

#cards {
  display: flex;
  align-items: center;

  max-width: 700px;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 20px;
}

.card {
  padding: 32px 35px;
  text-align: center;

  background-color: var(--card-bg-color);
  border-bottom: 2px solid var(--card-color-primary);
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
  border: 1px solid var(--card-title-border-color);
  border-radius: 6px;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 40px;

  color: var(--card-color-primary);
}

.card img {
  width: 50px;
  height: 50px;
}

.card h2 span {
  color: #E1E1E6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  display: flex;
  flex-direction: column;

  gap: 24px;
  width: 300px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li aside {
  margin-top: 20px;
  padding: 8px;

  border: 1px solid var(--card-color-primary);
  border-radius: 4px;
  color: #FFF;
}

.card ul li + li {
  padding-top: 20px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #E1E1E6;
  padding-top: 20px;
}

.card ul li strong:hover,
.card ul li img:hover,
#image:hover {
  transform: scale(1.05);
}

.card h2:hover {
  transform: translateY(-0.125rem);
}

.card ul li strong,
.card ul li img {
  transition: transform .2s;
}

#buttonDisabled:disabled {
  cursor: not-allowed;
  color: #C0C9C8;
  border: 1px solid #3d4145;
  background-color: #65696e;
}

@media screen and (max-width: 700px) {
  .centerButton {
    flex-direction: column;
    margin-top: 20px;
  }
  #image {
    min-height: 40vh;
  }
}
